name: Test SVC - testing

on:
  pull_request:
    paths:
      - '**'

jobs:
  test:

    runs-on: ubuntu-latest

    container:
      image: python:3.8.2-slim

    steps:
      - uses: actions/checkout@v2
      - name: Extract coverage
        id: extract_coverage
        if: ${{ success() || failure() }}
        uses: brunotoshio/python-coverage-action@v0.3.0
        with:
          filepath: test/components/api/src/coverage.json
      - name: Publish coverage
        uses: mshick/add-pr-comment@v1
        with:
          message: ${{ steps.extract_coverage.outputs.result }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Allow to merge
        id: allow_merge
        env:
          COVERAGE: ${{ steps.extract_coverage.outputs.passed }}
        run: |
          if [ $COVERAGE -eq 'true' ]
          then
            echo "::set-output name=result:success"
          else
            echo "::set-output name=result:failure"
          fi
      - uses: LouisBrunner/checks-action@v1.1.1
        if: always()
        with:
          conclusion: ${{ steps.allow_merge.outputs.result }}
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Allow to merge
