name: Test SVC - testing

on:
  pull_request:
    paths:
      - '**'

jobs:
  test:

    runs-on: ubuntu-latest

    container:
      image: python:3.8.2-slim

    steps:
      - uses: actions/checkout@v2
      - name: Extract coverage
        id: extract_coverage
        if: ${{ success() || failure() }}
        uses: brunotoshio/python-coverage-action@v0.2.3
        with:
          filepath: test/components/api/src/coverage.json
      - name: Publish coverage
        uses: mshick/add-pr-comment@v1
        with:
          message: ${{ steps.extract_coverage.outputs.result }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
